USE [Topic]
GO
/****** Object:  Table [dbo].[FriendlyEnv]    Script Date: 2021/6/17 上午 10:54:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FriendlyEnv]') AND type in (N'U'))
DROP TABLE [dbo].[FriendlyEnv]
GO
/****** Object:  Table [dbo].[FriendlyEnv]    Script Date: 2021/6/17 上午 10:54:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FriendlyEnv](
	[EnvId] [int] IDENTITY(1,1) NOT NULL,
	[City] [nchar](10) NOT NULL,
	[Name] [nchar](20) NOT NULL,
	[AnimalTypes] [nchar](15) NOT NULL,
	[EnvTypes] [nchar](10) NOT NULL,
	[Telephone] [nchar](20) NOT NULL,
	[Address] [nchar](50) NOT NULL,
	[image] [image] NULL,
	[fileName] [nchar](50) NULL,
 CONSTRAINT [PK_FriendlyEnv] PRIMARY KEY CLUSTERED 
(
	[EnvId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FriendlyEnv] ON 

INSERT [dbo].[FriendlyEnv] ([EnvId], [City], [Name], [AnimalTypes], [EnvTypes], [Telephone], [Address], [image], [fileName]) VALUES (2, N'台北市       ', N'雀爾喜旅館               ', N'狗,貓            ', N'寵物住宿      ', N'02-2559-6221        ', N'台北市大同區南京西路288號                                    ', NULL, NULL)
INSERT [dbo].[FriendlyEnv] ([EnvId], [City], [Name], [AnimalTypes], [EnvTypes], [Telephone], [Address], [image], [fileName]) VALUES (3, N'台北市       ', N'貓妝自家烘焙咖啡館           ', N'貓              ', N'寵物餐廳      ', N'02-2550-0561        ', N'台北市大同區長安西路64號                                     ', NULL, NULL)


SET IDENTITY_INSERT [dbo].[FriendlyEnv] OFF
GO
