:root {
  text-align: center;
}

html, body {
  background-color: #ddd;
}

section p {
	text-align: left;
	margin-left:20px;
	-webkit-box-flex: middle;
      -ms-flex: middle;
          flex: middle;
   font-size:0.5em;
}

/* .left { */
/* 	 float:left; */
/* } */

/* .right { */
/* 	float:right; */
/* } */
/* section figure { */
	
/* 	display:inline; */
/* } */

/* .con { */
/* 	width:auto; */
/* 	  height:100%; */
/* 	  -webkit-box-flex: middle; */
/*       -ms-flex: middle; */
/*           flex: middle; */

 
/*   } */
button img{
height:80px;
width:80px;

}

button {
            margin:80px;
            background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;

        }
        

.nav {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 0;
  z-index: -1;
  position: relative;
  z-index: 999;
  outline: 0;
}

section {	
  -webkit-box-shadow: 0 0 0 .2em #999;
          box-shadow: 0 0 0 .2em #999;
  font-family: sans-serif;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-color: white;
  font-size: 5vw;
  font-weight: 800;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-flex: middle;
      -ms-flex: middle;
          flex: middle;
  opacity: 0;
  -webkit-transform: scale(0.6) translate(0%, 0);
          transform: scale(0.6) translate(0%, 0);
}

.n0:not(:checked) ~ .s0,
.n1:not(:checked) ~ .s1,
.n2:not(:checked) ~ .s2,
.n3:not(:checked) ~ .s3,
.n4:not(:checked) ~ .s4,
.n5:not(:checked) ~ .s5,
.n6:not(:checked) ~ .s6,
.n7:not(:checked) ~ .s7 {
  -webkit-animation: bye 1s ease-in-out forwards;
          animation: bye 1s ease-in-out forwards;
}

@-webkit-keyframes bye {
  0% {
    opacity: 0;
    background-color: white;
    z-index: 7;
  }
  10% {
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.6) rotate(2deg) translate(5%, 0);
            transform: scale(0.6) rotate(2deg) translate(5%, 0);
    z-index: 8;
  }
  100% {
    -webkit-transform: scale(0.6) translate(0%, 0);
            transform: scale(0.6) translate(0%, 0);
    opacity: 1;
    z-index: 5;
  }
}

@keyframes bye {
  0% {
    opacity: 0;
    background-color: white;
    z-index: 7;
  }
  10% {
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.6) rotate(2deg) translate(5%, 0);
            transform: scale(0.6) rotate(2deg) translate(5%, 0);
    z-index: 8;
  }
  100% {
    -webkit-transform: scale(0.6) translate(0%, 0);
            transform: scale(0.6) translate(0%, 0);
    opacity: 1;
    z-index: 5;
  }
}

@-webkit-keyframes hello {
  0% {
    opacity: 1;
    background-color: white;
    z-index: 7;
  }
  50% {
    -webkit-transform: scale(0.6) translate(-30%, -20%) rotate(-10deg) translate(-60%, 0);
            transform: scale(0.6) translate(-30%, -20%) rotate(-10deg) translate(-60%, 0);
  }
  100% {
    -webkit-transform: scale(0.6) translate(0%, 0);
            transform: scale(0.6) translate(0%, 0);
    opacity: 1;
    z-index: 9;
  }
}

@keyframes hello {
  0% {
    opacity: 1;
    background-color: white;
    z-index: 7;
  }
  50% {
    -webkit-transform: scale(0.6) translate(-30%, -20%) rotate(-10deg) translate(-60%, 0);
            transform: scale(0.6) translate(-30%, -20%) rotate(-10deg) translate(-60%, 0);
  }
  100% {
    -webkit-transform: scale(0.6) translate(0%, 0);
            transform: scale(0.6) translate(0%, 0);
    opacity: 1;
    z-index: 9;
  }
}

.n0:checked ~ .s0,
.n1:checked ~ .s1,
.n2:checked ~ .s2,
.n3:checked ~ .s3,
.n4:checked ~ .s4,
.n5:checked ~ .s5,
.n6:checked ~ .s6,
.n7:checked ~ .s7 {
  background-color: #fff;
  z-index: 1;
  -webkit-transform: scale(0.6) translate(0%, 0);
          transform: scale(0.6) translate(0%, 0);
  -webkit-animation: hello 1s ease-in-out forwards;
          animation: hello 1s ease-in-out forwards;
}

@-webkit-keyframes hereiam {
  100% {
    color: transparent;
    text-shadow: 0 0 0 #000;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes hereiam {
  100% {
    color: transparent;
    text-shadow: 0 0 0 #000;
    -webkit-transform: none;
            transform: none;
  }
}
/*# sourceMappingURL=card.css.map */