:root {
  text-align: center;
}
* {
	margin: 10px;
}
.box{
	margin-left:30%;
	margin-top:4%;
}
.card {
	position:fixed; top:25%; left:25%;
}

.head {
	font-size:15px;
	display:inline-block;
}

.btn{
	font-size:50px;
	
}
.hole{
	width:545px;
	
}


