:root {
  text-align: center;
}
.box{
	margin-left:30%;
	margin-top:4%;
}
.card {
	position:fixed; top:25%; left:25%;
}
.agree{
	float: right;
}
.refuse{
	float: left;
}

.hole{
	width:545px;
	
}
/* .showuser{ */
/* 	overflow:auto;  	 */
/* } */